body{
	background: #e3e3e3;
}

/* start Top Bar */
#logo_Form{
	background: #fff;
}
.TopBar{
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
}
.Notoppad{
	padding-top: 0;
}
.searchBox {
    overflow: hidden;
    padding-top: 10px;
}

.busket {
    float: right;
}


.price {
    padding-top: 10px;
}
.form_width{
	width: 430px;

}

.input_width{
	padding-top:6px;
	padding-bottom: 6px;
	padding-right:  233px; 
}



/* end Top bar */


/* start top menu bar */
#Top_menuBar{
	background: #4ccfc1;
	
}
.shadow {
    box-shadow: 0px 3px 6px #139A94;
}
.NavBar{
	background: transparent;
	border-color: transparent;
	margin-top: 20px
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.menu{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color:#fff;
}


/* end top manu bar */

/* start slider */
#slider{
	background: #3ac1b4;

}
.slid_product {
    box-sizing: border-box;
    padding-top: 62px;
    padding-bottom: 60px;
    overflow: hidden;
}
.T_shart {
    padding-left: 55px;
}
.sliderContant {
    padding-left: 15px;
}
.sliderContant h1{
	font-size: 52px;
	color:#fff;
	text-transform: uppercase;
}
.sliderContant h5 {
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    padding-right: 149px;
}

.mybtn{
	background: transparent;
	border-color:#fff;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
	font-size: 18px;
}




/* end slider */

/* start slider product2 */

#slider_product2{
	background: #fff;
}
.product_top{
	overflow: hidden;
	padding: 30px 0;
}
.Topshous img {
    width: 150px;
    height: 132px;
}
.Topsorts img{
	width: 104px;
    height: 132px;
}
.info,.itemhead h3{
	color:#afafaf;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}
.btnp {
    background: #3cc395;
    padding: 6px 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-color: transparent;
}

/* end slider product2 */

/*  */
#FeatureProduct{
	background: #fff;
}
#featureHad{
	background: #3fc5b0;
}

.Featurehead {
    overflow: hidden;
    padding: 20px 0px 18px 60px;
}
.Featurehead h4{
	font-size: 31px;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}

.allProducts{
	overflow: hidden;
	padding:40px 80px 65px 60px;
}
.allProducts2{
	overflow: hidden;
	padding:0px 80px 65px 60px;
}
.productFeature{
	overflow: hidden;
	border:1px solid #e3e3e3;
	border-bottom: 5px solid #3cc395;
}
.productItem{
	padding-top: 20px;
}
.productItem1 {
    padding-top: 10px;
}
.productItem3{
	padding-top: 18px;
}
.productItem4 {
    padding-top: 15px;
}
.productItem5 {
    padding-top: 27px;
}
.itemprice h6{
	font-weight: bold;
	color:#afafaf;
	font-size: 20px
}



/*  */


/*  */
#All_links{
	background: #3cc3b5;
}
.links_all{
	overflow: hidden;
	padding:23px 80px 25px 60px;
}

.link h6{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}  
.links_set ul{
	list-style: none;
	padding-left: 4px;
}
.links_set ul li{
	padding-top: 10px;
}
.links_set ul li a{
	color:#fff;
}

/*  */




/*  */
#footer{
	background: #2da89b;
}
.footerAll{
	padding: 20px 0;
}
.footerAll p{
	font-size: 16px;
}
.footerAll p a{
	color: #fff;
}
/*  */





.myindicators li{
	background: #fff;
	border-color: transparent;
	bottom: 0;
}
.carousel-indicators {
    bottom: 10px;
}
.myindicators .active{
	background: #77d9c9;
}


@media (min-width: 320px) and (max-width: 767px){
	.logo {
    	overflow: hidden;
    	padding-bottom: 10px;
	}

	.form_width {
	    padding-left: 20px;
	    width: 300px;
	    padding-bottom: 12px;
	}
	.input_width {
	    padding-bottom: 6px;
	    padding-right: 0px;
	    padding-top: 6px;
	}
	.busket {
	    padding-bottom: 10px;
	    padding-left: 10px;
	    float: left;
	}
	.price {
	    padding-bottom: 10px;
	    padding-left: 10px;
	    float: right;
	}
	.menu {
	    padding-left: 25px;
	    text-transform: uppercase;
	}
	.T_shart {
	    padding-left: 0px;
	}
	.sliderContant h5{
		padding-right: 0px;
	}
	.productItem{
		text-align: center;
		padding-top: 30px;
	}
	.Featurehead {
	    overflow: hidden;
	    padding: 20px 0 18px 35px;
	}
	.Featurehead h4 {
	    font-size: 22px;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: bold;
	}
	.itemhead h3{
		font-size: 15px;
	}
	.link {
	    padding-top: 15px;
	}

}

